<!-- Navigation-->

<nav class="navbar navbar-expand-md navbar-light bg-light justify-content-between">
  <div>
    <a class="navbar-brand" href="#">WindBNB</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if(!user) {%> 
              Account
            <% }else { %>
              <%= user.username %> 
            <% } %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if(!user) {%> 
              <a class="dropdown-item" href="/login">Login</a>
              <a class="dropdown-item" href="/register">Register</a>
            <% }else { %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/listing/new">Create new Listings</a>
            <a class="dropdown-item" href="/listing/mylisting">My Listings</a>
            <a class="dropdown-item" href="/logout">Logout</a>
            <% } %>
          </div>
        </li>
              
    </ul>
      </div>
  
</nav>




<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="/home">Windbnb</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        </ul>
        <form class="d-flex justify-content-around">
          <button type="button" class="btn btn-success">
            <a class="text-decoration-none text-dark" href="/listing/new" >
          Become A Host
            </a>
          </a>
          </button>
          <button type="button" class="btn btn-info">
            <a class="text-decoration-none text-dark" href="/listing/mylisting" >
          View Mylisting
          </a>
          </button>
          <button class="btn btn-outline-secondary" type="submit" >
            <a class="text-decoration-none text-dark" href="/login" >
                <i class="bi bi-person-circle me-2"></i>
            Login
            </a>
            
          </button>
        </form>
      </div>
    </div>
  </nav> -->